.border-array-item {
  border: 1px solid limegreen;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0rem;
}

.border-struct {
  border: 1px solid red;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0rem;
}

.input-wrapper {
  margin: 0.5rem 0rem;
}

.btn {
  display: block;
  width: max-content;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
}

.input-error {
  color: red;
}
